.disabled {
  background-color: rgb(121, 139, 158);
  color: white;
  cursor: not-allowed;
  pointer-events: none;
}

:root {
  --wheel-font: "Lato", "Quicksand", sans-serif;
  --wheel-size: 250px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #25212f;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
}

.wheel-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  padding: 3px;
  margin: auto;
  background-color: var(--neutral-color);
  border: solid var(--wheel-color) 3px;
  border-radius: 50%;
  user-select: none;
}

.wheel-container::before,
.wheel-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: var(--wheel-color);
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: var(--wheel-color);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(
      var(--nb-turn) * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1))
    )
  );
}

.wheel::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--neutral-color);
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));

  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
}

.wheel-item:before {
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;

  --slice-max-width: calc(
    var(--PI) * var(--wheel-size) + var(--wheel-size) / 2
  );
  --slice-width: calc(
    (var(--slice-max-width) / 2) - var(--wheel-slice-spacing)
  );
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
}
.fade-in {
  animation: fadeIn 15s;
  -webkit-animation: fadeIn 15s;
  -moz-animation: fadeIn 15s;
  -o-animation: fadeIn 15s;
  -ms-animation: fadeIn 15s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  box-shadow: 0 5px 5px black;
  margin-bottom: 30px;
  padding: 20px 0px 10px 0px;
  top: 0 !important;
  position: sticky !important;
  z-index: 5;
  background: black;
  color: white;
}
.footer {
  box-shadow: 0 5px 5px black;
  padding: 20px 0px 10px 0px;
  bottom: 0 !important;
  background-color: rgb(222 222 222);
  position: fixed !important;
  text-align: center;
  padding: 10px 0 10px 0;
  font-weight: bold;
  width: 100%;
  z-index: 5;
}
.react-bootstrap-table-pagination > .col-sm-6 {
  width: 10% !important;
}
.react-bootstrap-table-page-btns-ul {
  float: left !important;
  margin-left: 30px;
}
.logoImage {
  margin-left: 20px;
  color: white;
  background: white;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

.spinButton,
.debugButton,
.closeButton,
.loginButton,
.logoutButton,
.startButton {
  color: #020625;
  background-color: #ffffff;
  border-radius: 20px;
  font-weight: 600;
  border: 2px solid #988e8e;
  outline: none;
  width: 100px;
  line-height: 2;
}
.spinButton:hover,
.debugButton:hover,
.closeButton:hover,
.startButton:hover,
.loginButton:hover,
.logoutButton:hover {
  color: #ffffff;
  background-color: #020625;
  border-radius: 20px;
  font-weight: 600;
  border: 2px solid #ffffff;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  background: #070621;
  border-radius: 30px;
}
.productList {
  width: 80% !important;
  margin-top: 30px !important;
}
.addButton {
  margin-top: 40px;
}
.productTable {
  margin-top: 20px;
}
.react-bootstrap-table {
  margin-top: 30px;
}
.react-bootstrap-table-pagination {
  margin-bottom: 50px !important;
}
.page-item.active,
.page-link,
.order-4 {
  z-index: 0 !important;
}
.mainContainer {
  text-align: center;
  margin-top: 15%;
}
.imgUpload {
  padding: 50px;
}
.emailLogin,
.guestLogin {
  background-color: #0c0c6d;
  color: white;
  line-height: 2rem;
  width: 250px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.emailLogin:hover,
.guestLogin:hover {
  background-color: white;
  color: #0c0c6d;
  line-height: 2rem;
  width: 250px;
  border-radius: 20px;
  border: 3px solid #0c0c6d;
}
.app-container {
  border: 1px solid gray;
  padding: 60px;
  background-color: white;
  color: rgb(12, 32, 59);
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 5px 10px 20px black;
}

.modal-content {
  border-radius: 35px 35px 30px 30px;
  border: 2px solid rgb(12, 32, 59);
}
.loginSubmit,
.closeModal {
  margin-top: 40px;
  background-color: rgb(12, 32, 59);
  border: 1px solid rgb(12, 32, 59);
  width: 100%;
  box-shadow: 5px 10px 20px rgb(12, 32, 59);
  color: white;
  line-height: 2rem;
  border-radius: 20px;
}
.loginSubmit:hover,
.closeModal:hover {
  background-color: black;
  border: 1px solid black;
  box-shadow: 5px 10px 20px black(12, 32, 59);
}
.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(12, 32, 59);
  border-radius: 8px;
}
